In [2]:
import pandas as pd
df= pd.read_excel("Fraud.xlsx","Fraud")
from sklearn.preprocessing import LabelEncoder
from sklearn import tree
import pickle
separate= df
separate.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.0,160296.36,M1979787155,0.0,0.0,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.0,19384.72,M2044282225,0.0,0.0,0,0
2,1,TRANSFER,181.00,C1305486145,181.0,0.00,C553264065,0.0,0.0,1,0
3,1,CASH_OUT,181.00,C840083671,181.0,0.00,C38997010,21182.0,0.0,1,0
4,1,PAYMENT,11668.14,C2048537720,41554.0,29885.86,M1230701703,0.0,0.0,0,0

In [3]:
separate["Origg"]= separate["nameOrig"].str[0]
separate["Dest"]= separate["nameDest"].str[0]
separate

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud,Origg,Dest
0,1,PAYMENT,9839.64,C1231006815,170136.00,160296.36,M1979787155,0.00,0.00,0,0,C,M
1,1,PAYMENT,1864.28,C1666544295,21249.00,19384.72,M2044282225,0.00,0.00,0,0,C,M
2,1,TRANSFER,181.00,C1305486145,181.00,0.00,C553264065,0.00,0.00,1,0,C,C
3,1,CASH_OUT,181.00,C840083671,181.00,0.00,C38997010,21182.00,0.00,1,0,C,C
4,1,PAYMENT,11668.14,C2048537720,41554.00,29885.86,M1230701703,0.00,0.00,0,0,C,M
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,95,CASH_OUT,132557.35,C1179511630,479803.00,347245.65,C435674507,484329.37,616886.72,0,0,C,C
1048571,95,PAYMENT,9917.36,C1956161225,90545.00,80627.64,M668364942,0.00,0.00,0,0,C,M
1048572,95,PAYMENT,14140.05,C2037964975,20545.00,6404.95,M1355182933,0.00,0.00,0,0,C,M
1048573,95,PAYMENT,10020.05,C1633237354,90605.00,80584.95,M1964992463,0.00,0.00,0,0,C,M
1048574,95,PAYMENT,11450.03,C1264356443,80584.95,69134.92,M677577406,0.00,0.00,0,0,C,M

In [4]:
Orig_le = LabelEncoder()
Dest_le= LabelEncoder()
type_le = LabelEncoder()
separate["Orig_le"]= Orig_le.fit_transform(separate["Origg"])
separate["Dest_le"]= Dest_le.fit_transform(separate["Dest"])
separate["type_le"]= type_le.fit_transform(separate["type"])
separate

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud,Origg,Dest,Orig_le,Dest_le,type_le
0,1,PAYMENT,9839.64,C1231006815,170136.00,160296.36,M1979787155,0.00,0.00,0,0,C,M,0,1,3
1,1,PAYMENT,1864.28,C1666544295,21249.00,19384.72,M2044282225,0.00,0.00,0,0,C,M,0,1,3
2,1,TRANSFER,181.00,C1305486145,181.00,0.00,C553264065,0.00,0.00,1,0,C,C,0,0,4
3,1,CASH_OUT,181.00,C840083671,181.00,0.00,C38997010,21182.00,0.00,1,0,C,C,0,0,1
4,1,PAYMENT,11668.14,C2048537720,41554.00,29885.86,M1230701703,0.00,0.00,0,0,C,M,0,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,95,CASH_OUT,132557.35,C1179511630,479803.00,347245.65,C435674507,484329.37,616886.72,0,0,C,C,0,0,1
1048571,95,PAYMENT,9917.36,C1956161225,90545.00,80627.64,M668364942,0.00,0.00,0,0,C,M,0,1,3
1048572,95,PAYMENT,14140.05,C2037964975,20545.00,6404.95,M1355182933,0.00,0.00,0,0,C,M,0,1,3
1048573,95,PAYMENT,10020.05,C1633237354,90605.00,80584.95,M1964992463,0.00,0.00,0,0,C,M,0,1,3
1048574,95,PAYMENT,11450.03,C1264356443,80584.95,69134.92,M677577406,0.00,0.00,0,0,C,M,0,1,3

In [5]:
final= separate.drop(["step","type","nameOrig","nameDest","isFlaggedFraud","Origg","Dest"], axis= "columns")
final

,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud,Orig_le,Dest_le,type_le
0,9839.64,170136.00,160296.36,0.00,0.00,0,0,1,3
1,1864.28,21249.00,19384.72,0.00,0.00,0,0,1,3
2,181.00,181.00,0.00,0.00,0.00,1,0,0,4
3,181.00,181.00,0.00,21182.00,0.00,1,0,0,1
4,11668.14,41554.00,29885.86,0.00,0.00,0,0,1,3
...,...,...,...,...,...,...,...,...,...
1048570,132557.35,479803.00,347245.65,484329.37,616886.72,0,0,0,1
1048571,9917.36,90545.00,80627.64,0.00,0.00,0,0,1,3
1048572,14140.05,20545.00,6404.95,0.00,0.00,0,0,1,3
1048573,10020.05,90605.00,80584.95,0.00,0.00,0,0,1,3
1048574,11450.03,80584.95,69134.92,0.00,0.00,0,0,1,3

In [6]:
inputs= final.drop(["isFraud"],axis="columns")
ans= final.isFraud
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test= train_test_split(inputs, ans, test_size= 0.3)
finalmodel= tree.DecisionTreeClassifier()
finalmodel.fit(x_train, y_train)

DecisionTreeClassifier()

In [7]:
finalmodel.score(x_test, y_test)

0.999507268583127

In [8]:
with open("fraudmodel.pkl", "wb") as f:
    pickle.dump(finalmodel,f)